.game-filters-bar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    form {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        padding: 0.5rem;
        background-color: var(--glass-bg);
        border: 1px solid var(--accent-purple);
        max-width: 1200px;
        width: 100%;

        .input-group {
            display: flex;
            gap: 1rem;
        }

        .button-group {
            display: flex;
            gap: 1rem;
        }

        @media (max-width: 1200px) {
            flex-flow: column wrap;
            max-width: 800px;

            .input-group {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.5rem;

                label {
                    display: grid;
                }
            }

            .button-group {
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
            }
        }

        @media (max-width: 768px) {
            .input-group {
                max-height: 100px;
                gap: 0.5rem;
                grid-template-columns: 1fr 1fr;
                padding: 0.5rem;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: var(--accent-blue) var(--glass-bg);
            }

            .button-group {
                gap: 0.5rem;
            }
        }

        @media (max-width: 600px) {
            .input-group {
                grid-template-columns: 1fr;
            }
        }
    }

    .game-filters {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .filters-list {
            display: flex;
            gap: 0.5rem;
        }

        .filter-tag {
            background-color: var(--accent-blue);
            color: white;
            border-radius: 16px;
            padding: 0.3rem 0.8rem;
            font-size: 0.9rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--shadow);
        }
    }
}